<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <p class="error">{{ messages[0] }}</p>
        {% endif %}
    {% endwith %}
    
    <h3>Login</h3>
    <form action="/login" method="post">
        <label for="user_name">User Name</label><br>
        <input type="text" id="user_name" name="user_name" pattern="^[a-zA-Z0-9_]{3,}$" maxlength="25" required><br>
        
        <label for="password">Password</label><br>
        <input type="password" name="password" id="password" pattern="^[a-zA-Z0-9_!@#$%^&*()+=-]{8,}$" maxlength="25" required><br>

        <button type="submit">Login</button>
    </form>
</body>
</html>