<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Workbench Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <p class="error">{{ messages[0] }}</p>
        {% endif %}
    {% endwith %}
    
    <p>Welcome, {{ username }}! <a href="{{ url_for('logout') }}">Logout</a></p>
    <label>Click Count: </label>
    <label id="click_count">{{ click_count }}</label>
    <form action="{{ url_for('user_page') }}" method="post">
        <button type="submit">Click!</button>
    </form>

    <!-- <label>Click Count: </label>
    <label for="click_count" id="click_count">0</label>
    <button id="click_button">Click!</button>

    <script>
        var clickCount = 0;

        function handleClick() {
            clickCount++;
            updateClickCounter();
        }

        function updateClickCounter() {
            const clickCountLabel = document.getElementById("click_count");
            clickCountLabel.innerText = clickCount;
        }
        
        const clickButton = document.getElementById("click_button");
        clickButton.addEventListener("click", handleClick);
    </script> -->
</body>
</html>